
.stats { 
    display: flex; 
    justify-content: space-around; 
    background: white; 
    padding: 80px 10%; 
}
.stat-card {
    text-align: center;
}
.stat-card h2 { 
    color: var(--btn-green); 
    font-size: 58px; 
    font-weight: 700;
    margin: 0; 
}
.stat-card p {
    color: var(--text-dark);
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
}

