
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
    background-color: #252b42; 
    color: white;
    min-height: 80vh;
}


.hero { 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 80px 10%; 
    background-color: #D6EAF8; 
    min-height: 80vh;
}

.hero-text {
    flex: 1;
    max-width: 500px;
}

.hero-text h5 { 
    color: #96BB7C; 
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 16px;
}

.hero-text h1 { 
    font-size: 58px; 
    color: #252B42; 
    line-height: 1.2;
    margin-bottom: 35px;
    font-weight: 800;
}

.hero-text p {
    color: #737373; 
    font-size: 20px;
    margin-bottom: 40px;
    line-height: 1.5;
}


.hero-cta {
    display: flex;
    gap: 15px;
}

.btn-green {
    background-color: #96BB7C;
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.btn-outline {
    background-color: transparent;
    color: #96BB7C;
    border: 1px solid #96BB7C;
    padding: 15px 35px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}


.hero-img-container { 
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.hero-img-container img { 
    width: 100%;
    max-width: 650px; 
    height: auto;
    object-fit: contain;
}
