.navbar { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 20px 10%; 
}
.navbar ul { 
    display: flex; 
    list-style: none; 
    gap: 25px; 
}
.navbar a { 
    text-decoration: none; 
    color: var(--text-gray); 
    font-weight: 700; 
    font-size: 14px;
}
.btn-join { 
    background: var(--btn-green); 
    color: white; 
    border: none; 
    padding: 12px 25px; 
    border-radius: 5px; 
    font-weight: 700;
    cursor: pointer;
}
